<div class="flex-boxes">
<% current_user.capsules.each do |capsule| %>
	
		<div class = "flex-box flex-box-big">
	  <%= link_to capsule.title, capsule_path(capsule) %>
	    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">  	
			<p><%= "#{capsule.release_date.month}/#{capsule.release_date.day}/#{capsule.release_date.year}" %></p>
		</div>
<% end %>

</div>

 


