<div class ='view'>

  <div class = 'image'>
    <!--<img src="http://wallarthd.com/wp-content/uploads/2014/09/Beautiful-Clock-Macro-Wallpaper-For-Android.jpg">-->
  </div>

  <div class = 'image2'>
    <!--<img src="http://wallarthd.com/wp-content/uploads/2014/09/Beautiful-Clock-Macro-Wallpaper-For-Android.jpg">-->
  </div>
</div>

