<!--<div class ='view'>-->

  <!--<div class = 'image'>-->
    <!--&lt;!&ndash;<img src="http://wallarthd.com/wp-content/uploads/2014/09/Beautiful-Clock-Macro-Wallpaper-For-Android.jpg">&ndash;&gt;-->
  <!--</div>-->

  <!--<div class = 'image2'>-->
    <!--&lt;!&ndash;<img src="http://wallarthd.com/wp-content/uploads/2014/09/Beautiful-Clock-Macro-Wallpaper-For-Android.jpg">&ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
<video width="400" id="bgvid" src="<%= asset_path('videos/clocklapse.webm') %>" autoplay loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<div class="image-gradient-dynamic">
  <img src="http://wallarthd.com/wp-content/uploads/2014/09/Beautiful-Clock-Macro-Wallpaper-For-Android.jpg" alt="">
  <div class="overlay"></div>
  <div class="copy">
   		<p> Memories are fleeting </p>
			<p>A few reasons why this product is worth using, who it's for and why they need it.</p>
  </div>
</div>
</video>

<% if user_signed_in? %>
  <div class="welcomeLink">
    <%= link_to "Your Capsules", capsules_path %>
  </div>
<% end %>