<div class="image-gradient-dynamic">
  <img src="http://wallarthd.com/wp-content/uploads/2014/09/Beautiful-Clock-Macro-Wallpaper-For-Android.jpg" alt="">
  <div class="overlay"></div>
  <div class="copy">
   		<p> Memories are fleeting </p>
			<p>A few reasons why this product is worth using, who it's for and why they need it.</p>
  </div>
</div>

