<h1> This is change over time </h1>

<div class = "preview">

    <div class="pic"><%= image_tag("one.jpg", :alt => "one") %></div>
    <div class="pic"><%= image_tag("two.jpg", :alt => "rss feed") %></div>
    <div class="pic"><%= image_tag("three.jpg", :alt => "rss feed") %></div>
    <div class="pic"><%= image_tag("four.jpg", :alt => "rss feed") %></div>

</div>

