/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require slick
 *= require slick-theme
 */

@import "bourbon";
@import "base/base"; // BITTERS:: terminal: bitters install
@import "neat";
#new_capsule{
  h1{
    color:black;

  }
  input[type=submit]{
    margin-bottom:20px;
  }
}
body{
  margin: 0;
  padding: 0;
  .mainWords{
    width:90%;
    margin:0 auto;
    h1{
      color: white;
      font-size: 36px;
    }
    p{
      color:white;
      font-size: 24px;
    }
  }
  .bgimg{
    z-index: 9999;
    //background-image:url('https://allthingscountrymusic.files.wordpress.com/2013/11/clock_gears_wallp_long_goodbye_high_resolution_desktop_1600x1290_hd-wallpaper-891659.png');
  }
  .yield {
    width:800px;
    //background-color: rgba(0, 0, 0, 0.5);
    border-radius:5px;
    min-height:100vh;
    padding-top:50px;
    margin:0 auto;
    h2{
      color:black;
      font-size:24px;
      text-align: center;
    }
    h3{
      color:black;
      padding-top:10px;
    }
    
    .newCapsule {
      width: 1040px;
      margin: 0 auto;

      .capsuleNew {
        margin: 10px;
        h1{
          color:black;
          text-align:center;
        }
      }

      .templates {
        margin: 10px;
      }
    }
    
    .show {
      margin:0 auto;
      margin-bottom:0;
      width:100%;
      background-color: #f7f7f7;
      border-radius:5px;
      
      .dateTime{
        padding:5px;
        text-align: center;
        font-size: 3em;
      }
      
      .submits {
        width: 90%;
        margin: 0 auto;
        
        h1 {
          font-size: 2em;
          text-align: center;
        }

        .mediaSubmit {
          display: inline-block;
          padding: 20px 10px;
          border: 1px solid #A9A9A9;
          margin: 5px;

          .photoSubmit {
            width: 140px;
            margin: 0 auto;
          }

          label {
              text-align:center;
              font-size: 40px;
            }
        }
        
        .postSubmit {
          display: inline-block;
          border: 1px solid #A9A9A9;
          padding: 50px 10px;
          height: 245px;
          margin: 5px;

          .memory {
            label {
              text-align:center;
              font-size: 40px;
            }
          }
        }
      }

      a.grid-item.grid-item-big.grid-item-image {
        width: 50%;
        height: auto;

        img.capsuleImages {
          width: 100%;
          height: auto;
        }
      }
    }

    .emb {
      font-style: italic;
    }
  }
}

.header {
  width: 100%;
  height: 40px;
  background-color: #FAFAFA;
  position:fixed;
  z-index:999999;

  .dropdown {
    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $base-line-height: 1.5em !default;
    $dark-gray: #333 !default;
    $large-screen: em(860) !default;
    $base-font-color: $dark-gray !default;
    $dropdown-color: $base-font-color;
    $dropdown-description-color: lighten($dropdown-color, 40%);
    $dropdown-border: 1px solid silver;
    $dropdown-background: $base-background-color;
    $dropdown-background-hover: darken($dropdown-background, 3%);
    $dropdown-inner-border: 1px solid silver;
    $dropdown-height: 40px;
    $dropdown-padding: 1em;
    $dropdown-distance-from-menu: 50px;
    $dropdown-arrow-top-distance: 0;

    line-height: $base-line-height;

    .dropdown-container {
      display: inline-block;
      border-radius: 1px;
      position: relative;
      text-align: center;
    }

    .dropdown-description {
      border-bottom-left-radius: $base-border-radius;
      color: $dropdown-description-color;
      float: left;
      font-size: 0.7em;
      line-height: $dropdown-height;
      margin: 0;
      padding: 0 ($dropdown-padding / 2) 0 $dropdown-padding;
      
      i{
        color:black;
        font-size:16px;
      }
      
      @include media($large-screen) {
        font-size: 1em;
      }
    }

    .dropdown-button {
      cursor: pointer;
      float: right;
      font-size: 0.7em;
      font-weight: 800;
      line-height: $dropdown-height;
      margin: 0;
      padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
      position: relative;
      border-radius: 1px;
      
      img{
        padding-top:7px;
      }

      @include media($large-screen) {
        font-size: 1em;
        padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
      }
    }

    .dropdown-button:hover {
      background-color: $dropdown-background-hover;

    }

    .dropdown-button:after {
      color: $base-font-color;
      content: "\25BE";
      display: block;
      position: absolute;
      right: $dropdown-padding;
      top: $dropdown-arrow-top-distance;
    }

    .dropdown-menu {
      @include transition (all 0.2s ease-in-out);
      background: $dropdown-background;
      border-radius: $base-border-radius;
      border: $dropdown-border;
      box-shadow: 0 2px 2px transparentize(black, 0.8);
      color: $dropdown-color;
      cursor: pointer;
      display: none;
      margin: 0;
      overflow: show;
      padding: 0;
      position: absolute;
      right: 0;
      top: $dropdown-distance-from-menu;
      width: 228px;
      z-index: 99999;

      &:before {
        @include position(absolute, 0 1em 0 0);
        color: $dropdown-background;
        content: "\25b2";
        font-size: 1.4em;
        pointer-events: none;
        text-shadow: 0 -2px 2px transparentize(black, 0.7);
        top: -0.7em;
      }
    }

    .dropdown-menu li {
      border-bottom: $dropdown-inner-border;
      color: $dropdown-color;
      list-style: none;
      padding: $dropdown-padding / 2;
      
      a{
        color: black;
      }
    }

    .dropdown-menu li:hover {
      background: $dropdown-background-hover;
    }

    .dropdown-menu li:first-child {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }

    .dropdown-menu li:last-child {
      border: none;
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
    }

    .show-menu {
      display: block;
    }
  }

  h1 {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 32px;
    padding-left: 5%;
    display: inline;
  }

  nav {
    float: right;
    padding-right: 5%;
    
    ul {
      padding: 0;
    
      li {
        padding-top: 6px;
        display: inline-block;
    
        a {
          color: white;
          font-size: 200;
        }
      }
    }
  }
}

.modal {
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  
  .modal-content {
    padding-left: 50px;
    padding-right: 50px;
  }

  h2 {
    text-align: center;
  }
  
  label {
    cursor: pointer;
    font-weight: 200;
    margin-bottom: 0;
  }

  .modal-state {
    display: none;
  }

  .modal-fade-screen {
    // overlay
    @include position(fixed, 0 0 0 0);
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    transition: opacity 0.25s ease;
    visibility: hidden;
    z-index: 99999;

    @include media($large-screen) {
      padding-top: 10em;
    }
  }

  .modal-bg {
    @include position(absolute, 0 0 0 0);
    cursor: pointer;
  }

  .modal-close {
    float: right;
    padding-right: 5px;
    cursor: pointer;
  }

  .modal-inner {
    background-color: #fff;
    margin: auto;
    max-height: 95%;
    overflow: auto;
    position: relative;
    top: 0.5em;
    transition: opacity 0.25s ease;
    width: 50%;
  }

  @include media($medium-screen) {
    max-height: 70%;
    width: 80%;
  }

  @include media($large-screen) {
    width: 50%;
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

  .modal-open {
    overflow: hidden;
  }

  .modal-closed {
    overflow: auto;
  }

  .modal-trigger {
    font-weight: 200;
    color: #FFFFFF;
    
    &:hover {
      color: darken($action-color, 15%);
    }

    &:visited{
      color:#FFFFFF;
    }

    .modal-close {
      display: inline-block;
      float: right;
    }
  }
}

.view{
  min-height:100vh;
  
  .image{
   // background-color: red;
    background-size: cover;
    background-image: url("http://wallarthd.com/wp-content/uploads/2014/09/Beautiful-Clock-Macro-Wallpaper-For-Android.jpg");
    background-repeat: no-repeat;
    height: 100vh;
  }
}

.capsuleform{
  width:90%;
  margin:0 auto;
}

.preview{
  width: 80%;
  height: 400px;
}

.pic{
  width: 200px;
  height: 200px;
}
.user_edit{
  margin:0 auto;
  margin-bottom:0;
  width:90%;
  background-color: #f7f7f7;
  border-radius:5px;
  padding:10px;
}

@media all and (max-width:700px){
  .flex-boxes{
    min-width:80vw;
  }
  .header{
    height:50px;
    .dropdown{
      .dropdown-description{
        i{
          font-size:16px;
        }
      }
    }

    h1{
      font-size: 40px;
    }
    
    nav{
      padding-top: 5px;
      padding-right:2.5%;

      li{
        font-size:22px;
      }
    }
  }
  body{
    .yield{
      height:100%;
      h2{
        padding-top:10px;
      }
      padding:10px;
      padding-top:40px;
    }
  }


  .modal {
    .modal-inner {
      width: 95%;
    }
  }
}

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $action-color: #477DCA !default;
  $base-background-color: white !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($action-color, 30%);
  $grid-item-colors: 
    desaturate($action-color, 30%), 
    #3581A5, 
    #5FBEBE,
    #98C79A,
    #A7A891, 
    #BDCC97,
    #979EA0;
  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: white;
  $grid-item-height: 14em;

  @include clearfix;
    
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: ($grid-item-border-size / 2) solid $grid-items-background;
    border-right: ($grid-item-border-size / 2) solid $grid-items-background;
    border-top: 0;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-align: center;
    text-decoration: none;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 through length($grid-item-colors) { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10%);

        &:focus,
        &:hover {
          background-color: darken($background-from-list, 10%);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;
        }
      }
    }
  }

  .grid-item img {
      display: block;
      // height: 3em;
      margin-bottom: 1em;
      margin: auto;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: 0.4em;
    }

  .grid-item p {
      line-height: 1.5em;
      margin: auto;
      color: transparentize($grid-item-color, 0.3);
      
      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }

    p {
      @include media($medium-screen) {
        max-width: 60%;
      }  
    }
  }

  .grid-item-image {
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.flex-boxes {
  a{
    padding:0 auto;
  }
  margin: 0 auto;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  $flex-box-border-color: $light-gray;
  $flex-box-border: 1px solid $flex-box-border-color;
  $flex-box-background: lighten($light-gray, 10%);
  $flex-box-gutter: 0.4em;
  $flex-box-width: 18em;
  $flex-box-color: transparentize($base-font-color, 0.3);
  $flex-box-top-colors: 
    tomato, 
    #72BFBF, 
    #92B1E3, 
    #E3D743,
    #CCC,
    #F6C05C;

    @include clearfix;
    @include display(flex);
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    clear: both;
    text-align: center;

  .flex-box {
    @include transition (all 0.2s ease-in-out);
    @include flex(2 2 15em);
    @include align-self(stretch);
    background: $flex-box-background;
    border-radius: $base-border-radius;
    box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10%);
    display: block;
    margin: $flex-box-gutter;
    padding: 2em 2em 3em 2em;
    text-decoration: none;

    @for $i from 1 to 7 { // assign colors from $flex-box-top-colors list
      &:nth-child(#{$i}) {
        $color-from-list: nth($flex-box-top-colors, $i);
        border-top: 6px solid $color-from-list;
        
        &:focus,
        &:hover {
          //background-color: transparentize($color-from-list, 0.9);
        }
      }
    }

    img {
      display: block;
      height: 3em;
      margin-bottom: 2em;
      margin: auto;
      opacity: 0.4;
    }

    .flex-title {
      color: $flex-box-color;
      font-size: 1.2em;
      font-weight: 800;
      margin-bottom: 0.5em;
    }

    p {
      color: transparentize($flex-box-color, 0.1);
      line-height: 1.5em;
      margin: auto;
    }
  }

  .flex-box-big {
    @include flex(1 1 40em);
  }
}

.image-gradient-dynamic {
  $image-gradient-color-top: red; 
  $transparency-top: 0.9;
  $image-gradient-color-bottom: green; 
  $transparency-bottom: 0.6;
  $vertical-angle: 0deg;
  $image-gradient-color-left: teal; 
  $transparency-left: 0.8;
  $image-gradient-color-right: yellow; 
  $transparency-right: 0.8;
  $horizontal-angle: 90deg;
  
  line-height: 0;
  position: relative;
  width: 100%;

  img {
   height: auto;
   left: 0; 
   position: relative;
   top: 0;
   width: 100%;
  }

  .copy {
    @include transform(translate(-50%, -50%));
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 999;

    p {
      color: white;
      font-weight: 800;
      line-height: 1.5em;
      padding: 1em 2em;
      position: relative;
    }
  }

  .overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top), 
      transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);

    &:after {
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left), 
        transparentize($image-gradient-color-right, $transparency-right));
      @include position(absolute, 0px 0px 0px 0px);
      content: '';
      display: block;
    }
  }
}

.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  //$card-hover-background: lighten($card-background, 5%);
  $card-image-background: #DBD199;
  //$card-image-hover-background: lighten($card-image-background, 5%);
  $card-margin: 1em;

  @include flex-basis(15em);
  @include flex-grow(1);
  //@include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;

  .card-image {
    overflow: hidden;
    height: 270px;

    //img {
    //  @include transition (all 0.2s ease-in-out);
    //  background: $card-image-background;
    //  border-top-left-radius: $base-border-radius;
    //  border-top-right-radius: $base-border-radius;
    //  width: 100%;
    //}
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }
  
  &:focus,
  &:hover {
    //background-color: $card-hover-background;
    
    .card-image img {
      //background: $card-image-hover-background;
      //width: 240px;
    }
  
    .card-header {
      //background-color: $card-hover-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}

video#bgvid {
  position: fixed;
  display:inline;
  top: 55%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}